<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <p>投稿者：<%= @name %></p>>
    <p>メールアドレス：<%= @email %></p>
    <p>問い合わせ内容：<%= @text %> </p>
  </body>
</html>