<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="style.css">
    <title>ベストドローンスクール</title>
  </head>
<body>
  <div class ="contens-hokkaido">
       <span class ="moji-hokkaido">
       <h1>ドローンで何ができるの？</h1>
       </span>
  </div>

<div class="gaido-main">

  <div class="gaido-contens">

<!-- ここから本文 -->

<%= image_tag 'columns/colom-image3-1.jpg', class: "img-gaido" %>


<p class="gaido-contens-moji2">
ドローンというと、イコール空撮のようなイメージがないでしょうか？
</p>

<p class="gaido-contens-moji2">
まるで鳥のような目線の綺麗な動画や静止画を撮影できるすごいやつ。。。ドローンて、そんなイメージです。今回は、空撮も含めて、ドローンでどういった使い方ができるのか考えてみたいと思います。
</p>

<h2 class="gaido-contens-moji3">
ドローンの活用方法て何？
</h2>

<%= image_tag 'columns/colom-image3-2.png', class: "img-gaido" %>


<p class="gaido-contens-moji2">
「どろーんどろーん」と呪文のように唱えられる昨今、ドローンのイメージは浸透してきていますよね。一般的に思い浮かぶ用途は、空撮です。それ以外にも、実は様々な使い方が考えられています。軍事用のドローンを除いた民間用のドローンでは、どんな使い方が考えられるでしょうか？
</p>

<p class="gaido-contens-moji2">
ここでズバッと言っちゃいますが、使い道は大きく分けてこんな感じです！
</p>

<h2 class="gaido-contens-moji3">
撮る！調べる！運ぶ！守る！遊ぶ！
</h2>


<p class="gaido-contens-moji2">
叫んじゃいましたね 笑
なんのことやらと思ったかと思いますが、一緒に叫びながら順番に説明していきましょう。
</p>

<h1 class="gaido-contens-moji1">
活用方法 「撮る」
</h1>

<p class="gaido-contens-moji2">
「撮る」というのは、空撮のことですね。趣味での撮影はもちろん、ビジネスの中でも使われています。例えば、こんな利用シーンがあります。
</p>

<p class="gaido-contens-moji5">
・ゴルフ場などのプロモーション動画の撮影
</p>
<p class="gaido-contens-moji5">
・地方自治体の観光PRのため、お城や田園風景などの撮影
</p>
<p class="gaido-contens-moji5">
・テレビや映画などの動画素材の撮影
</p>

<p class="gaido-contens-moji2">
鳥の目線を簡単に手に入れられるドローンが撮影に加われば、これまでよりずっと自由な映像表現が可能になります。まず、ドローンに憧れを持つきっかけになったのは空撮画像を見たこと、という方は多いと思います。「あのような美しい映像を撮れたら、楽しいだろうな〜〜」と。
</p>

<p class="gaido-contens-moji2">
僕がドローンの空撮の可能性に魅せられたきっかけはこれです。
</p>

<div class="youtube-center">
<iframe src="//www.youtube.com/embed/u1ZB_rGFyeU" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
</div>

<p class="gaido-contens-moji2">
アーティストのOK Goの「I Won’t Let You Down」という曲の2014年のプロモーションビデオです。最初から最後までドローンを用いて撮影されています。「ドローンて、すげえ！。。。なんか、すげええ！」と思ったものです。まだ見たことない方はぜひ。
</p>


<h1 class="gaido-contens-moji1">
活用方法 「調べる」
</h1>


<p class="gaido-contens-moji2">
調べる、というのは、
</p>

<p class="gaido-contens-moji5">
・調査
</p>
<p class="gaido-contens-moji5">
・点検
</p>
<p class="gaido-contens-moji5">
・測量
</p>

<p class="gaido-contens-moji2">
などのことです。
</p>

<p class="gaido-contens-moji2">
現在高速道路や橋梁などのインフラが老朽化し、点検が急務だと社会問題化していますよね。しかも、人手不足のダブルパンチで、「どうやってインフラの保守をするんだ」と問題解決が求められています。そういったインフラの調査や点検の有効な解決策の一つとみられているのがドローンです。
</p>

<p class="gaido-contens-moji2">
例えば、橋梁の点検であれば人が、トンカチのようなもので橋梁のコンクリートを叩いて、その反響音の具合で劣化を判断したり、目視で行うため橋から人がぶら下がってすることもあります。そうすると、点検作業に時間がかかります。かつ重労働です。
</p>


<p class="gaido-contens-moji2">
ドローンであれば、搭載されたカメラでコンクリートの亀裂などを撮影することができます。もちろん、ドローンだけで点検完了とはいかないと思いますが、生産性を上げる一助になる可能性は大きいです。
</p>

<p class="gaido-contens-moji2">
また、測量も人手がかかる作業ですが、働き者のドローンならあっという間に仕事を終えてしまいます。こちらの動画にドローンを使った測量の威力がわかりやすく解説されていますのでご覧ください。
</p>

<div class="youtube-center">
<iframe src="//www.youtube.com/embed/nC2qMQoi-oo" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
</div>

<h1 class="gaido-contens-moji1">
活用方法 「運ぶ」
</h1>

<p class="gaido-contens-moji2">
さて、3番目はドローンを使って何かを運ぶ、という利用方法です。
</p>

<p class="gaido-contens-moji2">
運ぶといえば、宅配便ですが、トラックではなくドローンが配達する時代がすぐそこまで来ています！アマゾンがドローン配達を現実に行う計画が少し前から騒がれていましたが、実際に2016年12月にイギリスのアマゾンがユーザーに注文品を配達したそうです。配達は30分以内が目標で、約2キロの重さまで運べるとのこと。無人配達のデリバリーピザ屋のようなイメージでしょうかね。
</p>

<div class="youtube-center">
<iframe src="//www.youtube.com/embed/MXo_d6tNWuY" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
</div>

<p class="gaido-contens-moji2">
物流に関わる人材不足が問題となっている日本でも、千葉市や全国の過疎地でも実証実験が行われています。まだ現実の運用には至っていないようですが、ドローンによる配達が普通になるかもしれませんよ。
</p>


<h1 class="gaido-contens-moji1">
活用方法 「守る」
</h1>

<p class="gaido-contens-moji2">
4番目の活用方法は「守る」です。セキュリティとも言えます。警備員に代わってドローンに守ってもらおうという発想です。建物に侵入しようとしている泥棒をドローンが空から感知し、追跡する。。。泥棒にとっては、そんな恐怖の光景がこれから現実となります 笑
</p>

<p class="gaido-contens-moji2">
この動画で、セコムのドローンがわかります。
</p>

<div class="youtube-center">
<iframe src="//www.youtube.com/embed/x9uS6xUfjl4" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
</div>

<p class="gaido-contens-moji2">
全国的に人口減少していき働き手が減っていく中で、警備員、特に夜間の警備員の仕事は徐々にドローンに置き換わっていくのかもしれません。
</p>

<p class="gaido-contens-moji2">
でも、近所の家の屋根に警備ドローンが待機してて、こちらをジロッと見ているような未来はちょっと嫌だなあ。 笑
</p>

<h1 class="gaido-contens-moji1">
活用方法 「遊ぶ」
</h1>

<p class="gaido-contens-moji2">
最後は、ドローンを使って「遊ぶ」ということです。
</p>

<p class="gaido-contens-moji2">
実はここが一番人間のクリエイティビティが試される分野かもしれません。手のひらに乗るような重さが200gいかないようなおもちゃのドローンを飛ばして遊ぶことはありますが、「遊ぶ」というのはそれだけではありません。
</p>

<p class="gaido-contens-moji2">
ドバイではドローンレースが開催されました。こんな感じです。感想は。。。ズバリ、「未来！」です。
</p>

<div class="youtube-center">
<iframe src="//www.youtube.com/embed/gIM4zKvsTIQ" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
</div>


<p class="gaido-contens-moji2">
日本でも京商「DRONE RACER」という画期的がレース用のドローンが発売されました。
</p>

<p class="gaido-contens-moji2">
普通、ドローンは高さも自由に操作できるのですが、この京商「DRONE RACER」はあえて高さは自動で一定にすることで平面方向の操作だけに専念でき、ドローン操縦の難易度をかなり下げました。疾走する姿は、空飛ぶレースカーのようです。
</p>

<div class="youtube-center">
<iframe src="//www.youtube.com/embed/nIv1OptP_wg" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
</div>

<p class="gaido-contens-moji2">
遊ぶ、の分野もまだまだこれからです。面白い発想でどんどん画期的な遊びが出てきたらいいですね。
</p>
 
<p class="gaido-contens-moji2">
以上、「撮る、調べる、運ぶ、守る、遊ぶ」にドローンの活用を分類して説明してきました。各分野ともまだまだ発展途上ですので、これからどんどん新しい使い方や機体が出てくるでしょうね。
</p>



<p>
<%= link_to "コラムホームに戻る＞＞", "/columns/", class: "gaido-contens-moji4" %>
</p>

   </div>

</div>

<footer class=lineman>
</footer>
</body>
</html>