<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="style.css">
    <title>ベストドローンスクール</title>
  </head>
<body>
  <div class ="contens-hokkaido">
       <span class ="moji-hokkaido">
       <h1>ドローンって危ないの？過去の事件・事故（海外編）</h1>
       </span>
  </div>

<div class="gaido-main">

  <div class="gaido-contens">

<!-- ここから本文 -->

<%= image_tag 'columns/colom-image9-1.png', class: "img-gaido" %>

<p class="gaido-contens-moji2">
ドローンは世界中に広まっています。
</p>

<p class="gaido-contens-moji2">
国内のドローン事件や事故は、ニュースでよく見かけるかもしれませんが、海外ではどうなってるんでしょうか？いくつか事例を紹介します。
</p>



<h1 class="gaido-contens-moji1">
ドローンがぶつかって飛行機の羽根が壊れる！？
</h1>

<%= image_tag 'columns/colom-image9-2.jpg', class: "img-gaido" %>

<p class="gaido-contens-moji2">
さて、海外にはどんな事例があるんでしょうか？
ドローンの衝撃事故トップ5を紹介した動画があります。
ランキングはこんな感じです。
</p>

<p class="gaido-contens-moji5">
第1位：ドローンが動物に頭突きされる
</p>
<p class="gaido-contens-moji5">
第2位：花嫁と花婿にドローンが突っ込む
</p>
<p class="gaido-contens-moji5">
第3位：建物のガラス窓をドローンが突き破る
</p>
<p class="gaido-contens-moji5">
第4位：ドローンが歩いてる男性の頭に激突
</p>
<p class="gaido-contens-moji5">
第5位：ドローンが飛行機の羽根を壊す
</p>

<p class="gaido-contens-moji2">
動画を見てみてください。約6分の動画です。全部見ないでもいいので、最初の飛行機の羽根にドローンが衝突する部分（開始30秒後くらいの映像）だけでも見てください。
</p>

<div class="youtube-center">
<iframe src="//www.youtube.com/embed/aHUP8UR1_Xw" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
</div>



<p class="gaido-contens-moji2">
ランキングの順位はあんまり気にしないほうがいいです。だって、「ドローンが飛行機の羽根を壊す」衝撃的なものが一番順位が低いってよく分からないですので 笑 「これが一位だろっ！」って思います。
</p>

<p class="gaido-contens-moji2">
ドローンというと、まだ「おもちゃでしょ？」という認識をされている方もいらっしゃるかもしれませんが、人気の機種のDJIのPhantom（ファントム）だと、重量が1kgを超えるので、これが高速でぶつかるとやはりそれなりの衝撃があります。
</p>


<p class="gaido-contens-moji2">
ランキングを一つずつみてみましょう。
</p>

<p class="gaido-contens-moji5">
第5位：ドローンが飛行機の羽根を壊す
</p>
<p class="gaido-contens-moji2">
これは最も恐ろしいドローン事故の一つですね。飛行中の飛行機の中から外の風景を撮影している時に、偶然羽根にドローンが衝突し、羽根の一部が破損していることが確認できます。このように、ドローンが他のドローンと衝突することや、旅客機などと衝突して大事故になる可能性があります。
</p>

<p class="gaido-contens-moji5">
第4位：ドローンが歩いてる男性の頭に激突
</p>
<p class="gaido-contens-moji2">
これは人が近くにいる場合は考えられる事故ですね。上空を飛行していたドローンが急に進路を変え、地上付近に急降下しながら飛行している時に、上空からは樹木によって死角になって見えなかった歩行中の男性の後頭部に激突しています。
これはおそらく事故だと思いますが、可能性としては故意に人にぶつける愉快犯的な犯罪者もこれから出てくるかもしれません。
</p>

<p class="gaido-contens-moji5">
第3位：建物のガラス窓をドローンが突き破る
</p>
<p class="gaido-contens-moji2">
上空を飛行していたドローンが突然フラフラと進路が定まらない飛び方をしだします。そのまま付近の建物の窓ガラスに衝突して、窓を突き破り部屋の中で停止します。中にいた人が驚いている様子が伺えます。
</p>
<p class="gaido-contens-moji2">
建物が多く立地する場所で、ドローンを飛行する場合には考えられる事故ですね。また、窓ガラスに衝突しなくても、ドローンがマンションなどの窓の外から部屋の中を盗撮したり、盗撮するつもりはなくても景色の空撮中に誤って部屋の中を撮影してしまうリスクはあると思います。
</p>

<p class="gaido-contens-moji5">
第2位：花嫁と花婿にドローンが突っ込む
</p>
<p class="gaido-contens-moji2">
花嫁と花婿がキスをしているシーンをドローンで様々なアングルから撮影しようとしていると思われる映像です。ドローンの飛行の途中で、花嫁と花婿の顔に向かって一直線に向かっていきます。速度はそれほど出ていないようですが、怪我をしたかもしれません。恐らく操作を誤ったのだと思います。
</p>
<p class="gaido-contens-moji2">
結婚式や大事なイベントなど、ドローンで美しい映像を記録して思い出を残したいと思う気持ちは自然です。ただ、操作が慣れていないとこのような事態になる可能性は十分考えられます。
</p>

<p class="gaido-contens-moji5">
第1位：ドローンが動物に頭突きされる
</p>
<p class="gaido-contens-moji2">
これ何の動物ですか？笑 牛？羊？くらいの大きさと見た目の動物にドローンが飛行しながら近寄っていきます。故意に近寄っているのかどうかは判別できません。この動物が飛行中のドローンに警戒している様子がわかります。最初は少し後ずさりしますが、徐々にドローンに頭突きをするような格好をします。最後にはドローンに頭突きがヒットして、ドローンは墜落します。
</p>
<p class="gaido-contens-moji2">
これがなんで1位かは謎ですが、動物を撮影する際もドローンの衝突事故や、動物から攻撃される可能性も想定しておいたほうがいいようですね。
</p>




<h1 class="gaido-contens-moji1">
女性の頭部にドローンが落下、直撃！
</h1>

<%= image_tag 'columns/colom-image9-3.jpg', class: "img-gaido" %>

<p class="gaido-contens-moji2">
これも衝撃の映像です。イベント中にドローンが落下し、女性に直撃します。
</p>
<p class="gaido-contens-moji2">
わずか8秒間の映像です。ぜひ見てください！
</p>

<div class="youtube-center">
<iframe src="//www.youtube.com/embed/z0fdtGE1Tsc" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
</div>

<p class="gaido-contens-moji2">
「飛行中のドローンが落下し、女性が頚椎に怪我を負う事故が起きた。6月11日、カナダ・ケベック州のとある屋外イベントで、空撮中のDJIファントム3が墜落。ステファニー・クレニュー（Stéphanie Creignou・38歳、女性）さんの頭に衝突するという発生した。
</p>
<p class="gaido-contens-moji2">
　この日、会場を飛行していたドローン・DJIファントム3の重量は、1.3kg。事故シーンは、イベント主催側から空撮を依頼されていたVTOL-X Drones社のドローンによって、その全体像が捕捉された。映像では、人々が集まったトラックの横で、夫エリック・デジャルダン（Eric Desjardins）と一緒にいたクレニューさんの頭上にドローンが落下。彼女が気絶する場面が捉えられた。事故直後、病院に搬送されたクレニューさんは、首の頸椎に重傷を負ったことが分かっている。」出典：ROBOTEER
</p>
 
<p class="gaido-contens-moji2">
落下して女性に激突した様子を、さらに別のドローンが上空から撮影していますね。ドローンの事故の様子の全体像をここまでわかりやすく捉えた映像は貴重です。たまたまドローンが衝突した女性は不幸です。映像を見ると、大勢の人たちがドローンの落下した地点の近くにいます。もし、この群衆の中にドローンが落下していたら、被害が拡大していたかもしれません。
</p>





<h1 class="gaido-contens-moji1">
まとめ
</h1>

<p class="gaido-contens-moji2">
海外でもたくさんドローンの事故が起きていることがわかりました。今後も増えていくでしょう。
</p>


<p>
<%= link_to "コラムホームに戻る＞＞", "/columns/", class: "gaido-contens-moji4" %>
</p>

   </div>

</div>

<footer class=lineman>
</footer>
</body>
</html>