
   <div class ="contens-gaidorain">
       <span class ="moji-gaidorain">
       <h1 class="gaidorain-h1">ドローンメーカーってDJIだけなの？いえ、そんなことはありません</h1>
       </span>
  </div>

<div class="gaido-main">

  <div class="gaido-contens">

<!-- ここから本文 -->

<%= image_tag 'columns/colom-image5-1.jpg', class: "img-gaido" %>

<p class="gaido-contens-moji2">
ドローン世界シェアでナンバーワンのDJIについては、以前解説しました。
</p>

<p class="gaido-contens-moji2">
知っておくべきドローンのメーカーってどこ？まずはDJI！
</p>

<p class="gaido-contens-moji2">
今回は、
</p>

<p class="gaido-contens-moji2">
DJI以外のドローンメーカーって何があるの？
</p>

<p class="gaido-contens-moji2">
ってことで、他に2つの世界的メーカーをご紹介しますね。
</p>



<h1 class="gaido-contens-moji1">
忘れちゃいけないフランスのParrot（パロット
</h1>

<%= image_tag 'columns/colom-image5-2.png', class: "img-gaido" %>

<p class="colom-komoji">
Photo by Parrot
</p>


<p class="gaido-contens-moji2">
実はDJIと並んでフランスのメーカーのParrot（パロット）も、ドローンのブームの火付け役と言われています。
</p>

<p class="gaido-contens-moji2">
代表的なAR.Droneという製品は、見た目がカジュアルというか、遊び心を感じさせるデザインでワクワクしますね。ドローン＝機械、というよりは、楽しい遊び道具といった趣です。
</p>

<p class="gaido-contens-moji2">
実際に触ったことがあるのですが、大きさは幅50cmくらいあるのですが、重さは500gもありません。なので、手に持つとふわっと上に持ち上げてしまいそうになります 笑
</p>

<p class="gaido-contens-moji2">
発泡スチロールのような素材なので、万一人に衝突しても衝撃は多少緩和されそうです。
</p>

<p class="gaido-contens-moji2">
シリーズ発売当時、何といっても特徴的だったのはスマホで操作できるという手軽さです。直感的にスマホを持ちながら自由自在にドローンを操縦することができます。もちろん、空撮の動画もスマホで見ることができますので楽ですよね。
</p>

<div class="youtube-center">
<iframe src="//www.youtube.com/embed/m1Fpq4inefg" width="90%" height="300" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
</div>


<p class="gaido-contens-moji2">
新製品も発売されています。注目はParrot disco（パロットディスコ）という、少しチャラい？名前の製品です 笑
</p>

<p class="gaido-contens-moji2">
このドローンはまず見た目の新しさが驚きです。まさに鳥、です。飛行している姿が気持ち良すぎる。。。「ああ、このドローンのように俺も飛びたい」と思いますよ。
</p>

<p class="gaido-contens-moji2">
でも、その素晴らしい飛行を本当に自分が飛んでるように実感できるかもしれないツールも用意されています。それが操作しながら装着するゴーグルです。このゴーグルでリアルタイムにドローンのカメラから映像が伝送されるので、まるで鳥のように自分が飛んでいる錯覚を生み出すことでしょう。
</p>

<p class="gaido-contens-moji2">
欲しい。。。
</p>


<h1 class="gaido-contens-moji1">
テクノロジーの聖地アメリカの3D Robotics（3Dロボティクス）
</h1>


<%= image_tag 'columns/colom-image5-3.png', class: "img-gaido" %>

<p class="colom-komoji">
Photo by 3D Robotics
</p>

<p class="gaido-contens-moji2">
さて、DJIは中国、Parrotはフランスときて、アメリカは？
</p>

<p class="gaido-contens-moji2">
ということで、アメリカのドローンメーカーの3D Robotics（3Dロボティクス）を紹介します。
</p>

<p class="gaido-contens-moji2">
3D Roboticsの創業者はテクノロジー系の雑誌で有名な元WIRED編集長のクリス・アンダーソンで、2009年の創業です。
</p>

<p class="gaido-contens-moji2">
大手ベンチャーキャピタルから多額の投資を受けて順調な立ち上がりだったようですが、最近は人員の整理を実施するなど業績はあまり芳しくないようです。何しろ北米のDJIのシェアが約半分なのに対し、 3D Roboticsは7%という状況です。
</p>

<p class="gaido-contens-moji2">
ホームページを見ると、あまり個人消費者向けという雰囲気ではありません。建設業などのビジネス向けに注力しているのがわかります。3D Roboticsは競争が激しい消費者向けの市場からビジネス向けのドローンに方針転換しているようです。
</p>


<p>
<%= link_to "コラムホームに戻る＞＞", "/columns/", class: "gaido-contens-moji4" %>
</p>

   </div>

</div>

<footer class=lineman>
</footer>
