
   <div class ="contens-gaidorain">
       <span class ="moji-gaidorain">
       <h1 class="gaidorain-h1">ドローンの事故ってなんで起きるの？14の原因</h1>
       </span>
  </div>

<div class="gaido-main">

  <div class="gaido-contens">

<!-- ここから本文 -->

<%= image_tag 'columns/colom-image10-1.jpg', class: "img-gaido" %>

<p class="gaido-contens-moji2">
以前にドローンの事故、事件についての解説をしました。
</p>

<p class="gaido-contens-moji2">
ドローンって危ないの？過去の事件・事故（国内編）
</p>
<p class="gaido-contens-moji2">
ドローンって危ないの？過去の事件・事故（海外編）
</p>

<p class="gaido-contens-moji2">
ドローンで一番考えられるリスクは墜落です。ドローンの墜落は、事故につながる可能性があります。
</p>
<p class="gaido-contens-moji2">
どんな理由でドローンの墜落が起きるのでしょうか？また、それを防ぐにはどうしたらよいでしょうか？考えてみましょう。
</p>




<h1 class="gaido-contens-moji1">
ドローン落下の原因14個のリスト
</h1>

<%= image_tag 'columns/colom-image10-2.png', class: "img-gaido" %>

<p class="gaido-contens-moji2">
DJIのPhantom（ファントム）であれば、その重量は1kgを超えます。そんな物体が空から落ちてくるのは恐ろしいことです。実は、落下の原因のほとんどは人為的なものです。
</p>

<p class="gaido-contens-moji2">
その14の原因の見ていきましょう。
</p>

<p class="gaido-contens-moji5">
1.強制飛行停止の操作
</p>
<p class="gaido-contens-moji2">
コントローラのスティックを一番下に下げ続けると、強制的にモーターが停止します。モーターが停止すると、当然ですが落下してしまいます。スティックを誤った位置に置かないようにすることで防げます。
</p>

<p class="gaido-contens-moji5">
2.プロペラが物に接触
</p>
<p class="gaido-contens-moji2">
ドローンはプロペラの力によって飛行しますので、プロペラが破損すると飛行する能力が低下します。また、破損はしなくても、機体のバランスが崩れると落下の可能性があります。飛行中に樹木や建物、電線などの障害物を飛行前に確認し、飛行中も注意することが重要です。
</p>

<p class="gaido-contens-moji5">
3. 雨や霧などで水に濡れる
</p>
<p class="gaido-contens-moji2">
ほとんどのドローンは防水仕様ではなく、モーターが露出しているものも多いです。モーターや内部の電子部品などは水分に弱く、故障する可能性があります。天気予報には気をつけて、雨や霧の中で飛ばす計画を立てないようにしましょう。
</p>

<p class="gaido-contens-moji5">
4. 自動帰還の途中で衝突
</p>
<p class="gaido-contens-moji2">
ドローンによっては、一定のバッテリー残量になると自動帰還モードが発動するものがあります。一直線の軌道で、あらかじめ指定した地点に戻ってくるドローンであれば、途中にもし樹木などの障害物があれば衝突します。なので、自動帰還モードが発動しても途中に障害物がないか事前に確認することや、そもそも自動帰還モードが発動しないように十分なバッテリー残量に余裕を持って飛行することが大事だと思います。
</p>

<p class="gaido-contens-moji5">
5. スピードの出し過ぎ
</p>
<p class="gaido-contens-moji2">
スピードを出せば出すだけ、機体をストップさせるのには距離が必要になります。空間の広さに応じて、スピードをコントロールしましょう。
</p>

<p class="gaido-contens-moji5">
6. GPSが使えない
</p>
<p class="gaido-contens-moji2">
屋内や障害物の多い屋外、曇りの日などGPSの受信がうまくできない環境では、GPSによるドローンの機体制御が作動しづらい場合があります。その場合は、手動によるコントロールに頼ることになりますので、操作の難易度が上がります。できる限りGPSの受信できる環境を選びましょう。
</p>

<p class="gaido-contens-moji5">
7. 目視できない
</p>
<p class="gaido-contens-moji2">
機体が樹木や建物などの障害物に隠れてしまった場合や、目視できないくらい遠い距離に飛ばした場合など、機体が目視できないリスクがあります。目視できない機体は、どこに飛んでるかわからないという恐ろしい状況ですので墜落するかもしれません。事前に周囲の障害物を確認したり、どれくらいまでの距離なら目視可能か予測しましょう。
</p>

<p class="gaido-contens-moji5">
8. コントローラの信号が届かない
</p>
<p class="gaido-contens-moji2">
近くに鉄塔などの構造物がある場合、電波干渉でドローンにコントローラの信号がうまく届かない場合があります。また、コントローラの電池切れも信号が途絶える原因になります。近くに電波干渉の要因がないか、コントローラの電池は十分か確認しましょう。
</p>

<p class="gaido-contens-moji5">
9. 機体の整備不良
</p>
<p class="gaido-contens-moji2">
機体のどこかに不具合があれば、飛行に影響する可能性があります。モーターやプロペラなどが正常に作動するか事前に確認しましょう。
</p>

<p class="gaido-contens-moji5">
10. 対面時の方向ミス
</p>
<p class="gaido-contens-moji2">
操作で難しいのが、ドローンと、操作者である自分が対面の状態になった時の操作です。慣れていない状態だと、逆の操作をしてしまいます。例えば、コントローラで右の操作をすると、対面だとドローンは自分から見て左の方向に飛行します。コントローラの操作は、自分視点ではなくドローン視点のためです。対策としては、これは単純に操作の練習の積み重ねしかないと思います。がんばりましょう！笑
</p>

<p class="gaido-contens-moji5">
11. モーターの故障
</p>
<p class="gaido-contens-moji2">
飛行中にモーターが寿命などの原因でプロペラが停止することがあります。特に安いドローンだと、耐久度の低いモーターが使われているようです。モーターの使用期間やドローンの価格帯を気にした方が良いようです。
</p>

<p class="gaido-contens-moji5">
12. カメラの映像に集中してしまい目視を怠る
</p>
<p class="gaido-contens-moji2">
ドローンから送られてくる映像を手元のコントローラーで集中してみているうちに、カメラでは死角になっていた障害物にぶつかり墜落する可能性があります。ドローンの操縦は目視が大事だと思いますので、必要以上にカメラの映像に気を取られないようにしましょう。
</p>

<p class="gaido-contens-moji5">
13. バッテリー切れ
</p>
<p class="gaido-contens-moji2">
ドローンのバッテリー切れによる墜落です。バッテリーが飛行中になくなれば、プロペラは停止し、落ちます。それを防ぐには、バッテリー残量が十分残っているのを確認してから飛行する、残量を十分に残して着陸する、予備のバッテリーを十分に用意していくなどの対策が必要です。
</p>

<p class="gaido-contens-moji5">
14. 風
</p>
<p class="gaido-contens-moji2">
ドローンは飛んでいるだけに風に弱い存在です。突風や強風、上昇気流などは特に注意が必要です。天気予報をチェックしたり、飛行時に風が強い状況では飛ばさないようにしましょう。
</p>




<h1 class="gaido-contens-moji1">
まとめ
</h1>

<p class="gaido-contens-moji2">
事前の準備によって防げる墜落が多いことがわかります。
</p>

<p class="gaido-contens-moji2">
無理せず、きちんと準備して飛行すると大事なドローンが墜落しておだぶつになることを防げると思います。
</p>

<p>
<%= link_to "コラムホームに戻る＞＞", "/columns/", class: "gaido-contens-moji4" %>
</p>

   </div>

</div>

<footer class=lineman>
</footer>