<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="style.css">
    <title>ベストドローンスクール</title>
  </head>
<body>
  <div class ="contens-hokkaido">
       <span class ="moji-hokkaido">
       <h1 class=hajimete-h1>口コミ投稿ガイドライン</h1>
       </span>
  </div>

<div class="gaidorain-main">

  <div class="gaidorain-contens">

<h1 class="gaidorain-contens-moji">はじめに</h1>

<p class="gaidorain-contens-moji2">
ベストドローンスクールでは、ポジティブな口コミもネガティブな口コミも自由にご投稿いただきたいと考えておりますが、ユーザーの皆様にとって有益で健全な口コミサイトを運営していくためのルールとして、本ガイドラインを規定させていただきました。

本ガイドラインをご理解いただいた上で、ルール・マナーを守ってベストドローンスクールをご利用ください。
</p>


<h2 class="gaidorain-contens-moji3">【１】学校を探す人にとって有益な情報になるよう心がけましょう
</h2>

<p class="gaidorain-contens-moji2">
口コミを書かれる際は「もしあなたの大切な人が、学校への入学を検討していたら、どのようにアドバイスするか？」という事を考えてみてください。あなたが大切な方に伝えようと思うような口コミは、他の多くのユーザーにとって貴重な情報になります。一方、一般論や質問のみで検討者にとって有益な情報が含まれないご投稿はお控えいただけますようお願いします。
</p>

<span class="gaidorain-contens-moji4">
NG事例
</span>

<p class="gaidorain-contens-moji5">
(＊具体的なご説明がなく)全体的に良いと思います。
</p>

<h2 class="gaidorain-contens-moji3">
【２】節度のある表現、丁寧な言葉遣いを心掛けましょう
</h2>

<p class="gaidorain-contens-moji2">
ベストドローンスクールにご投稿いただいた口コミは検討者、住人、その他関係者など様々なお立場の方が閲覧する可能性があります。気持ちの良い情報交換の場とするためにも、節度のある表現、丁寧な言葉遣いを心掛けましょう。特にネガティブな口コミほど、表現に十分なご配慮をいただいたうえでご投稿ください。
</p>

<p class="gaidorain-contens-moji2">
他の人が読んだ時に不快に感じるような言葉は使わない
根拠なく不安を煽るような口コミを書かない
特定人種に対する決めつけ、人種批判・差別に当たる内容は書かない
</p>

<span class="gaidorain-contens-moji4">
NG事例
</span>

<p class="gaidorain-contens-moji5">
全ての点で最悪であり、絶対に入学しないほうがいい。入学するだけ無駄。
</p>

<h2 class="gaidorain-contens-moji3">
【３】良い点・気になる点の両方を必ずご記載ください
</h2>

<p class="gaidorain-contens-moji2">
長所・短所のどちらか一方だけでなく、必ず両面についてご記載ください。
</p>

<span class="gaidorain-contens-moji4">
NG事例
</span>

<p class="gaidorain-contens-moji5">
悪い点は特に思いつきません。全てにおいて理想の学校です。
</p>

<h2 class="gaidorain-contens-moji3">
【４】虚偽、誹謗中傷、権利侵害を含む口コミのご投稿はお控えください
</h2>

<p class="gaidorain-contens-moji2">
事実と異なる内容、根拠のない悪口、他人の権利を侵害するような口コミはくれぐれもお控えください。(口コミの内容に関して、事実の確認を運営サイドにて行うことは致しかねます。)
</p>

<h2 class="gaidorain-contens-moji3">
【５】個人特定ができる可能性がある口コミはご遠慮ください。
</h2>

<p class="gaidorain-contens-moji2">
個人を特定できる恐れがある口コミの投稿もご遠慮ください。
</p>

<span class="gaidorain-contens-moji4">
NG事例
</span>

<p class="gaidorain-contens-moji5">
○○先生はやる気がない。
</p>


<h2 class="gaidorain-contens-moji3">
【６】その他、以下のような不適切な表現はご遠慮ください
</h2>

<p class="gaidorain-contens-moji2">
文字数を多くするために、意図的に漢字でなく平仮名を多く使った口コミ
日本語以外の言語で書かれた文章が混在した口コミ
</p>

<p class="gaidorain-contens-moji4">
 【重要】
 </p>
<p class="gaidorain-contens-moji4">
口コミは投稿してから、通常２４時間〜４８時間以内に反映されますが、管理側で不適切である等、判断した場合は反映されませんので、ご了承下さい。
</p>

   </div>

</div>

<footer class=lineman>
</footer>
</body>