<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="style.css">
    <title>ベストドローンスクール</title>
  </head>
<body>
  <div class ="contens-hokkaido">
       <span class ="moji-hokkaido">
       <h1>スクール選び初めてガイド</h1>
       </span>
  </div>

<div class="hajimete-main">

  <div class="hajimete-contens">

<h1 class="hajimete-contens-moji1">ドローンスクール探しから入学・卒業までを解説しています。</h1>


<h2>
<%= link_to "【STEP1】ドローンスクールとは", "/schools/gaido1", class: "hajimete-contens-moji3" %>
</h2>

<p class="hajimete-contens-moji2">
・ドローン学校の概要（卒業までの日数や費用、学べる内容）などを解説します。
</p>

<h2 class="hajimete-contens-moji3">
<%= link_to "【STEP2】ドローンスクール選びのポイント", "/schools/gaido2", class: "hajimete-contens-moji3" %>
</h2>

<p class="hajimete-contens-moji2">
・ドローン学校の概要（卒業までの日数や費用、学べる内容）などを解説します。
</p>

<h2 class="hajimete-contens-moji3">
<%= link_to "【STEP3】ドローンスクールに入学して何を学べる！？", "/schools/gaido3", class: "hajimete-contens-moji3" %>
</h2>

<p class="hajimete-contens-moji2">
・学校に入学してからをカリキュラム（例）を用いて解説します。
</p>

<h2 class="hajimete-contens-moji3">
<%= link_to "【STEP4】卒業後の進路は！？", "/schools/gaido4", class: "hajimete-contens-moji3" %>
</h2>

<p class="hajimete-contens-moji2">
・学校を卒業してからの進路について解説します。
</p>

  </div>

</div>

<footer class=lineman>
</footer>
</body>