<div class ="contens-toukou1">
  <div class="contens-toukou2">
       <span class ="contens-toukou3">
       <h1>お問い合わせフォーム</h1>
       </span>
  </div>




<div class="mail-box">
<div class="mail-finish">
<p class="mail-finish-moji">-メールが送信されました-</p>
<p>お問い合わせありがとうございました。</p>
<%= link_to "TOPページに戻る", root_path , class: "mail-top"%>
</div>
</div>