.colom-body{
    height: 3500px;
    background-color: #f9fff9;
    padding: 100px;
}

.colom-navba {
    margin: 2em 0;
    position: relative;
    padding: 0px 45px 0px 45px;
    border: solid 5px #efffef;
    border-radius: 3px 0 3px 0;
    width: 800px;
    margin: 0px auto;
    color: #4169e1;
    background-color: white;
    border-radius: 15px;
    margin-bottom: 20px;
}

.colom-categori{
    font-size: 20px;
    font-weight: 700;
    margin-left: 20px;
}

.colom-categori-moji{
    font-size: 20px;
    font-weight: 700;
}


.colom-tuzuki {
    position: relative;
    width: 120px;
    padding: 7px;
    border-radius: 5px;
    background-color: #c0c0c0;
    float: left;
    margin: 0px 15px 0px 15px;
    border: 2px solid  #c0c0c0;
    color: white;
    /* font-weight: bolder; */
    text-align: center;
    font-size: 20px;
}

.colom-kategori{
    padding: 10px 0;
    margin: 0;
    font-size: 16px;
}

.colom-image{
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}

.colom-contens-moji1 {
    font-size: 30px;
    text-align: center;
    margin-top: 40px;
    color: gray;
    font-family: 'Hiragino Maru Gothic Pro','ヒラギノ丸ゴ Pro W4', sans-serif;
   border-bottom: 1px dashed #dcdcdc;
   padding-bottom: 15px; /* 内容と線との間隔量 */
}

.colom-contens-moji2 {
    color: gray;
    font-family: 'Hiragino Maru Gothic Pro','ヒラギノ丸ゴ Pro W4', sans-serif;
    font-size: 20px;
}

.colom-contens-moji3 {
    font-size: 20px;
    color: #69b21d;
}

.colom-contens {
    margin: 2em 0;
    position: relative;
    padding: 0px 45px 0px 45px;
    border: solid 5px #efffef;
    border-radius: 3px 0 3px 0;
    height: 620px;
    width: 800px;
    margin: 0px auto;
    color: #4169e1;
    background-color: white;
    border-radius: 15px;
    margin-bottom: 20px;
}

/*.colom-contens:before,.colom-contens:after
{
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    border: solid 2px #69b21d;
    border-radius: 50%;
}
.colom-contens:after {
    top: -16px;
    left: -12px;
}
.colom-contens:before {
    bottom: -12px;
    right: -16px;
}*/

.hajimete-contens{
    height: 800px;
}

.a-colom{
color:#4169e1;
}

/*.colom-main{
    margin: 2em 0;
    position: relative;
    padding: 0.25em 1em;
    border: solid 2px #efffef;
    border-radius: 3px 0 3px 0;
    height: 450px;
    width: 1000px;
    margin: 0px auto;
    color: #69b21d;
    background-color: white;
}*/

/*.colom-contens:before,.colom-contens:after
{
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    border: solid 2px #69b21d;
    border-radius: 50%;
}
.colom-contens:after {
    top: -16px;
    left: -12px;
}
.colom-contens:before {
    bottom: -12px;
    right: -16px;
}*/


@media screen and (max-width: 479px)

{
.hajimete-contens {
    margin: 2em 0;
    position: relative;
    padding: 0.25em 1em;
    border: solid 2px #69b21d;
    border-radius: 3px 0 3px 0;
    height: 700px;
    width: 800px;
    /* margin: 100px auto; */
    background-color: white;
}

.hajimete-main {
    width: 900px;
    margin: 0 auto;
    height: 800px;
}

}



