.hajimete-contens-moji1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 40px;
    color: black;
}

.hajimete-contens-moji2 {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 50px;
    padding: 0px;
    color: black;
}

.hajimete-contens-moji3 {
    font-size: 20px;
    color: #69b21d;
}

.hajimete-contens {
    margin: 2em 0;
    /*position: relative;*/
    padding: 0.25em 1em;
    border: solid 2px #69b21d;
    border-radius: 3px 0 3px 0;
    height: 700px;
    width: 1000px;
    margin: 100px auto;
    color: #69b21d;
}

.hajimete-contens{
    height: 800px;
}

.hajimete-main{
    height: 1000px;
}

.hajimete-contens:before,.hajimete-contens:after
{
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    border: solid 2px #69b21d;
    border-radius: 50%;
}
.hajimete-contens:after {
    top: -16px;
    left: -12px;
}
.hajimete-contens:before {
    bottom: -12px;
    right: -16px;
}


@media screen and (max-width: 479px)

{

.gaidorain-main {
    width: 375px;
    margin: 0 auto;
}

.kotei {
    background-color: white;
    height: 100px;
    margin: 0px;
    width: 375px;
}


.img-kotei {
    /* float: left; */
    width: 300px;
    height: auto;
    margin: 30px 40px 20px 30px;
}

.ul-kotei {
    margin: 0px;
    /* width: 100%; */
    /* height: 100%; */
    padding: 0px;
    vertical-align: middle;
    /* display: table-cell; */
    /* text-align: center; */
    background-color: white;
    height: 50px;
    width: 375px;
    display: none;
}

.contens-hokkaido {
    background-color: #69b21d;
    height: 50px;
    border-radius: 5px;
    margin-top: 120px;
    width: 100%;
    text-align: center;
}


.moji-hokkaido {
    display: inline-block;
    /* margin: 8px 0px 0px 30px; */
    padding: 0px 10px;
    color: #69b21d;
    border-radius: 10px;
    background-color: #fff;
    font-size: 8px;
    width: 220px;
    text-align: center;
}

.hajimete-contens {
    /* margin: 2em 0; */
    /* position: relative; */
    /* padding: 0.25em 1em; */
    border: none;
    border-radius: 3px 0 3px 0;
    height: 1000px;
    width: 365px;
    background-color: white;
    padding: 0px;
    margin-top: 20px;
}

.hajimete-main {
    width: 375px;
    /* margin: 0 auto; */
    height: 1020px;
    margin: 0px;
}

.lineman {
    background-color: #69b21d;
    height: 150px;
    border-radius: 5px;
    height: 10px;
    width: 375px;
}

.hajimete-h1 {
    padding: 5px 0;
    margin: 0;
}

.hajimete-contens-moji1 {
    font-size: 20px;
    /* text-align: center; */
    margin-bottom: 50px;
    margin-top: 40px;
    color: black;
}

.hajimete-contens-moji2 {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 50px;
    padding: 0px;
    color: black;
}

.hajimete-contens-moji3 {
    font-size: 16px;
    color: #69b21d;
}

}

