.contens-toukou1111{
    background-color: #69b21d;
    height: 100px;
    border-radius: 5px;
    margin-top: 120px;
    margin-bottom: 50px;
}

.contens-toukou2222{
    width: 770px;
    margin: 0 auto;
}

.contens-toukou3333 {
    display: inline-block;
    margin: 16px 0px 50px 0px;
    color: #69b21d;
    border-radius: 10px;
    width: 780px;
    text-align: center;
    background-color: #fff;
}

.komento-box-mail{
    width: 600px;
    background-color: #f5f5f5;
    /* text-align: center; */
    height: 700px;
    margin-top: 20px;
    border-radius: 10px;
    padding-left: 100px;
    margin-bottom: 100px;
    padding-top: 10px;
    padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}

.komento-folder33{
   margin: 15px 0;
   width: 500px
}

.komento-nickname{
    width: 500px;
    height: 30px;
    /* margin: 0 auto; */
    /* margin-top: 20px; */
}

.komento-rate{
 width: 50px;
 height: 30px;
}


.komento-good{
    width: 500px;
    height: 300px;
}

.komento-bad{
    width: 500px;
    height: 300px;
}

.mail-moji{
    font-weight: 700;
    font-size: 16px;
    /* width: 700px; */
    /* text-align: center; */
    /* margin-top: 30px; */
}

.mail-komento-box{
    width: 500px;
    height: 300px;
    margin: 20px 50px 0px 0px;
}

.mail-komento{
    width: 500px;
    height: 30px;
}

.me-ru-finish{
    width: 100px;
    padding: 7px;
    border-radius: 10px;
    /* float: left; */
    /* margin: 40px 15px 0px 15px; */
    border: 2px solid #7f7fff;
    color: white;
    /* font-weight: bolder; */
    text-align: center;
    background-color: #7f7fff;
    font-size: 16px;
    letter-spacing: 5px;
    padding-left: 10px;
    cursor: pointer;
}

.me-ru-finish:hover{
    width: 100px;
    padding: 7px;
    border-radius: 10px;
    /* float: left; */
    /* margin: 40px 15px 0px 15px; */
    border: 2px solid #000080;
    color: white;
    /* font-weight: bolder; */
    text-align: center;
    background-color: #000080;
    font-size: 16px;
    letter-spacing: 5px;
    padding-left: 10px;
    cursor: pointer;
}


/*送信完了時に表示*/

.mail-box{
/*width: 1750px;*/
}

.mail-finish {
    width: 300px;
    padding: 7px;
    border-radius: 5px;
    background-color: #fff;
    border: 2px solid #00c300;
    color: #69b21d;
    font-weight: bolder;
    text-align: center;
    margin: 0 auto;
    cursor: default;
}




.mail-finish-moji{
    font-size: 22px
}






@media screen and (max-width: 479px)

{

.komento-box-mail {
    width: 375px;
    background-color: #f5f5f5;
    /* text-align: center; */
    height: 700px;
    margin-top: 20px;
    border-radius: 10px;
    padding-left: 0px;
    margin-bottom: 100px;
    padding-top: 10px;
    padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}

.mail-moji {
    font-weight: 700;
    font-size: 16px;
    /* width: 700px; */
    /* text-align: center; */
    /* margin-top: 30px; */
    width: 375px;
}

.mail-komento {
    width: 300px;
    height: 30px;
}

.mail-komento-box {
    width: 300px;
    height: 300px;
    margin: 20px 50px 0px 0px;
}

.contens-toukou1111 {
    background-color: #69b21d;
    height: 100px;
    border-radius: 5px;
    margin-top: 120px;
    margin-bottom: 50px;
}

.contens-toukou2222 {
    width: 375px;
    margin: 0 auto;
}

.contens-toukou3333 {
    display: inline-block;
    margin: 16px 0px 50px 0px;
    color: #69b21d;
    border-radius: 10px;
    width: 375px;
    text-align: center;
    background-color: #fff;
}

.komento-folder33 {
    margin: 15px 0;
    width: 375px;
}

}


