.inner-ranking111 {
    height: 100px;
    width: 100%;
    border-radius: 10px;
}

.ranking-itiran222{
    margin: 0 auto;
    width: 800px;
    height: 1400px;
    padding: 0px;
    background-color: white;
}

.ul-ranking111 {
    margin: 0 auto;
    width: 600px;
}

.inner-ranking111 li {
    position: relative;
    width: 250px;
    padding: 10px 10px 10px 10px;
    background-color: #fff;
    float: left;
    margin: 26px 0px 0px 0px;
    border: 2px solid #69B21F;
    color: #69B21F;
    font-weight: bolder;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-top: 15px solid #69B21F;
}

.inner-ranking111 li.selected {
  background-color: #fff;
  color: red;
}

@media screen and (max-width: 479px)

{
.ul-ranking111 {
    height: 70px;
    background-color: #69b21d;
    width: 375px;
    border-radius: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 30px;
    padding: 0px;
}

.inner-ranking111 li {
    position: relative;
    width: 70px;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    background-color: #fff;
    float: left;
    margin: 5px 0px 0px 60px;
    border: 2px solid #00c300;
    color: #69b21d;
    font-weight: bolder;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
}

.ranking-h1 {
    padding: 5px 0;
    margin: 0;
}

.ranking-itiran222 {
    width: 375px;
    height: 1400px;
    padding: 0px;
    background-color: white;
    margin: 0 auto;
}

}
