.ranking-moji {
    text-align: center;
    font-size: 18px;
    padding: 0px;
}

.zenkoku1 {
    background-color: #69b21d;
    height: 70px;
    width: 800px;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 50px;
}


.zenkoku-ranking1{
    margin: auto;
    height: 140px;
    width: 850px;
    padding-left: 0;
    overflow: hidden;
}

.zenkoku-ranking2{
    margin: auto;
    height: 140px;
    width: 850px;
    padding-left: 0;
    overflow: hidden;
}

.zenkoku-ranking3{
    margin: auto;
    height: 140px;
    width: 850px;
    padding-left: 0;
    overflow: hidden;
}

.p-1111111{
color:red;
}

.li-takotako {
    width: 120px;
    padding: 10px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: #fff;
    float: left;
    margin: 10px;
    color: #69b21d;
    display: block;
}

@media screen and (max-width: 479px)

{
.zenkoku1 {
    background-color: #69b21d;
    height: 70px;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 50px;
}

.zenkoku-ranking3 {
    margin: auto;
    height: 100%;
    width: 375px;
    padding-left: 0;
    overflow: hidden;
}

li-tiiki {
    position: relative;
    width: 120px;
    padding: 10px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: #fff;
    float: left;
    margin: 10px;
    color: #69b21d;
    display: block;
}

.zenkou-h1 {
    padding: 5px 0;
    margin: 0;
}

.zenkoku1 {
    background-color: #69b21d;
    height: 40px;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 50px;
    width: 375px;
}

.inner-moji {
    font-size: 16px;
    color: white;
    padding-left: 10px;
    font-weight: 100;
    padding-top: 10px;
}

.li-takotako {
    width: 80px;
    padding: 10px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: #fff;
    float: left;
    margin: 10px;
    color: #69b21d;
    display: block;
}

.ranking-kutikomi {
    font-size: 12px;
    text-align: center;
    padding: 0px 0px 0px 0px;
    color: #696969;
}

.ranking-moji {
    text-align: center;
    font-size: 14px;
    padding: 0px;
}

.zenkoku-ranking1 {
    margin: auto;
    height: 100px;
    width: 375px;
    padding-left: 0;
    overflow: hidden;
}

.zenkoku-ranking2 {
    margin: auto;
    height: 100%;
    width: 375px;
    padding-left: 0;
    overflow: hidden;
}

}