<div class ="contens-toukou1">
  <div class="contens-toukou2">
       <span class ="contens-toukou3">
       <h1>投稿完了</h1>
       </span>
  </div>




<div class="mail-box">
<div class="mail-finish">
<p class="mail-finish-moji">-投稿が完了しました-</p>
<p>反映まで、少々お待ちください。</p>
<p>また、<a href="/schools/gaidorain/" class="gaido-link">ガイドライン</a>に反していると判断された口コミは反映されませんのでご了承ください。</p>
<%= link_to "TOPに戻る", root_path , class: "mail-top"%>
</div>
</div>